@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap);

*{
    margin: 0;
    padding: 0;
    transition: background-color .3s,
    top .3s,
    left .3s,
    right .3s,
    bottom .3s,
    width .3s,
    height .3s,
    line-height .3s,
    opacity .3s,
    transform .3s,
    margin .3s,
    padding .3s
    ;
}

html{
    overflow: hidden;
}
body{
    position: relative;
    font-family: 'Noto Sans SC','Noto Sans JP', sans-serif;
    overflow: hidden;
    user-select: none;
    font-size: calc(2.5 * var(--vh));
    transition: background .3s,
    color .3s;
    --vh:1vh;
    background-color: var(--bgcolor);
    color:var(--textcolor);
}
body,body *,body *::after,body *::before{
    --textcolor:#000;
    --bgcolor:#fff;
}
body.perf,
body.perf *{
    transition:none!important;
}

body.dark{
    --textcolor:#fff;
    --bgcolor:#333;
    color-scheme: dark;
}
body.dark *,body.dark *::after,body.dark *::before{
    --textcolor:#fff;
    --bgcolor:#333;
}

.page{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: opacity .2s;
    background-color: inherit;
}

.page.ready{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    z-index: 99;
}
.page.ready h1{
    font-size: calc(5 * var(--vh));
}

.page.ready .state{
    font-size: calc(2 * var(--vh));
    height: calc(3 * var(--vh));
    line-height: calc(3 * var(--vh));
    margin: calc(2 * var(--vh)) 0;
}
.page.ready .state.loading{
    animation: blink 1.5s infinite linear;
}
.page.ready .state.error{
    color:red;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.page.group-p .title{
    width: 100%;
    height: calc(7 * var(--vh));
    margin-top: calc(3 * var(--vh));
    line-height: calc(7 * var(--vh));
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
}

.group-show{
    width: 100%;
    position: relative;
    height: 80%;
}

.group-show .cj{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-show .cj .m-icon svg{
    height: calc(7 * var(--vh));
}

.group-show .cj.lst{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,var(--bgcolor) , transparent);
}

.group-show .cj.nxt{
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left,var(--bgcolor) , transparent);

}

.groups{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.group{
    width: calc(calc(80 * var(--vh)) * 0.6);
    height: calc(calc(80 * var(--vh)) * 0.6);
    margin:calc(calc(80 * var(--vh)) * 0.05) ;
    margin-top: calc(calc(80 * var(--vh)) * 0.2);
    border-radius: 5%;
    overflow: hidden;
    position: relative;
    float: left;
    
}

.group img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
}

.group .info{
    width: 90%;
    height: 15%;
    line-height: calc(calc(80 * var(--vh)) * 0.09);
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5%;
}

body.dark .group .info{
    background-color: rgba(0,0,0,.7);
}

.group .info .name{
    font-size: 1.2em;
    font-weight: bold;
}

.group.selected{
    width: calc(calc(80 * var(--vh)) * 0.8);
    height: calc(calc(80 * var(--vh)) * 0.8);
    margin-top: calc(calc(80 * var(--vh)) * 0.1);
}
.group.selected .info{
    line-height: calc(calc(80 * var(--vh)) * 0.12);
    height: 24%;
}

.group.selected .info .desc{
    line-height: 1.3em;
}

.page.list-p .left{
    width: 36%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page.list-p .left img{
    width: calc(40 * var(--vh));
    aspect-ratio: 1/1;
    border-radius: 10%;
    margin: calc(5 * var(--vh)) 0;
    display: block;
    box-shadow: #888 0 2px 10px;
}

.page.list-p .left .name{
    color: var(--textcolor);
    font-weight: bold;
    line-height: 1.5em;
    font-size: 1.5em;
    padding-bottom: calc(1 * var(--vh));
}

.page.list-p .right{
    width: 64%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.zp .page.list-p .left{
    display: none;
}

.zp .page.list-p .right{
    width:100%;
}

.page.list-p .right .topper{
    width: 100%;
    height: calc(7 * var(--vh));
    box-shadow: #aaa 0 1px 5px;
}

.zp .page.list-p .right .topper{
    width:calc(100% - (7 * var(--vh)));
    padding-left:calc(7 * var(--vh));
}

body.dark .page.list-p .right .topper{
    box-shadow: #666 0 1px 5px;
}
.page.list-p .right .topper>*{
    float: left;
    height: 100%;
    padding: 0 .5em;
    line-height: calc(7 * var(--vh));
}

.page.list-p .right .topper>*:hover{
    background-color: #f4f4f4;
}

body.dark .page.list-p .right .topper>*:hover{
    background-color: #444;
}

.page.list-p .right .list{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(93 * var(--vh));
}

.page.list-p .right .list .item{
    width: calc(100% - 1em);
    height: calc(7 * var(--vh));
    overflow: hidden;
    padding: 0 .5em;
    position: relative;
}

.page.list-p .right .list .item .songname{
    line-height: calc(7 * var(--vh));
    font-size: .9em;
}

.page.list-p .right .list .item .songartist{
    opacity: 0;
    font-size: .6em;
    line-height: calc(3 * var(--vh));
}

.page.list-p .right .list .item:hover{
    background-color: #f4f4f4;
}

body.dark .page.list-p .right .list .item:hover{
    background-color: #444;
}

.page.list-p .right .list .item:hover .songname{
    line-height: calc(4 * var(--vh));
}

.page.list-p .right .list .item:hover .songartist{
    opacity: .7;
}


.page.list-p .right .list .item .playing-svg{
    display: none;
    width: calc(4 * var(--vh));
    height: calc(7 * var(--vh));
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.page.list-p .right .list .item .playing-svg svg{
    width: calc(2 * var(--vh));
    height: calc(2 * var(--vh));
}

.page.list-p .right .list .item.playing{
    padding-left: calc(5 * var(--vh));
    width: calc((100% - .5em) - calc(5 * var(--vh)));
    color: #09f;
}

.page.list-p .right .list .item.playing .playing-svg{
    display: flex;
}

.back-icon{
    width: calc(7 * var(--vh));
    height: calc(7 * var(--vh));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-icon:hover{
    background-color: #f4f4f4;
}

body.dark .back-icon:hover{
    background-color: #444;
}

.back-icon svg{
    width: 60%;
    height: 60%;
}

.musicplayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    /* display: none; */
    background-color: var(--bgcolor);
    color: var(--textcolor);
    overflow: hidden;
}

.musicplayer.show{
    top: 0;
}


.musicplayer .btn{
    width: calc(5 * var(--vh));
    height: calc(5 * var(--vh));
    opacity: .3;
    cursor: pointer;
    margin: calc(.5 * var(--vh));
}

.musicplayer .btn:hover{
    opacity: 1;
}

.musicplayer .btn svg{
    width: 50%;
    height: 50%;
}

.musicplayer .topper{
    width: 100%;
    height: calc(6 * var(--vh));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.musicplayer .topper .btn{
    position:absolute;
    top:0;
    left:0;
    z-index:9999;
}
.musicplayer .taber{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.musicplayer .taber:hover{
    opacity: 1;
}

.musicplayer .taber .tab{
    line-height: calc(6 * var(--vh));
    padding: 0 1em;
    font-size: 0.7em;
    color: var(--textcolor);
    cursor: pointer;
    opacity: .5;
}

.musicplayer .taber .tab:hover{
    opacity: .7;
}

.musicplayer .taber .tab.active{
    opacity: 1;
}

.btnsvg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
}

.btnsvg.hide{
    display: none;
}

.btn.active{
    opacity: 1;
}

.musicplayer .btns{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999;
    opacity: .5;
}

.musicplayer .btns:hover{
    opacity: 1;
}

.musicplayer .controls{
    width: 40%;
    height: calc(100% - calc(6 * var(--vh)));
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.musicplayer.pure .controls,
.musicplayer.pure .infos
{
    width: 50%;
    padding:0 25%;
}
.musicplayer.pure .controls{
    height: 90%;
    padding-top:10%;
}
.zp .musicplayer.pure .controls{
    padding:0;
}
.musicplayer.pure .controls .range{
    position:absolute;
    width:30%;
    max-width:calc(30 * var(--vh));
    bottom:0;
    height: calc(0.4 * var(--vh));
}
.musicplayer.pure .controls .range .r2{
    display:none;
}
.musicplayer.pure .controls .songname{
    padding-top: calc(10 * var(--vh));
}
.musicplayer.pure .controls .con{
    position:absolute;
    bottom:calc(1 * var(--vh));
    transform: scale(.5);
    transform-origin: bottom center;
}
.musicplayer.pure .controls .time{
    display: none;
}
.musicplayer.pure .lrcs,
.musicplayer.pure .t-lrc
{
    display:none!important;
}
.musicplayer.pure.showinfo .controls,
.musicplayer.pure.showinfo .infos
{
    padding:0;   
}

.musicplayer .controls .cover{
    width: calc(34 * var(--vh));
    height: calc(34 * var(--vh));
    margin: calc(3 * var(--vh));
    border-radius: 50%;
    box-shadow: #ccc 0 1px calc(3 * var(--vh));
    position: relative;
    animation: rotate 24s linear infinite;
    animation-play-state: paused;
}
.musicplayer.playing .controls .cover{
    animation-play-state: running;
    width: calc(40 * var(--vh));
    height: calc(40 * var(--vh));
    margin: 0;
}
.musicplayer.dark .controls .cover{
    box-shadow: #666 0 1px calc(3 * var(--vh));
}

.musicplayer .controls .cover .noimg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.musicplayer .controls .cover .noimg svg{
    width: 20%;
    color: var(--textcolor);
    opacity: .7;
}

.musicplayer .controls .cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: block;
    border-radius: 50%;
}

.musicplayer .controls .songname{
    padding-top: calc(4 * var(--vh));
    font-weight: bold;
    font-size: 1.6em;
}

.musicplayer .controls .songartist{
    opacity: .6;
}

.musicplayer .controls .music-con{
    width: 100%;
    padding-top: calc(6 * var(--vh));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.musicplayer .controls .con{
    width: calc(30 * var(--vh));
    height: calc(10 * var(--vh));
    display: flex;
    justify-content: center;
    align-items: center;
}
.musicplayer .controls .con .btn{
    height: calc(7 * var(--vh));
    width: calc(7 * var(--vh));
    opacity: .6;
}

.musicplayer .controls .con .btn:hover{
    opacity: 1;
}

.musicplayer .controls .con .btn:active svg{
    transform: scale(.8);
}
.musicplayer .controls .con .btn.play{
    height: calc(10 * var(--vh));
    width: calc(10 * var(--vh));
    opacity: .8;
}

.musicplayer .controls .range{
    width: 80%;
    height: calc(.5 * var(--vh));
    background-color: #eee;
    border-radius: calc(1 * var(--vh));
    position: relative;
    margin: calc(.5 * var(--vh)) 0;
}

.musicplayer.dark .controls .range{
    background-color: #555;
}

.musicplayer .controls .range .r1{
    width: 10%;
    height: 100%;
    border-radius: calc(1 * var(--vh));
    background-color: var(--textcolor);
    opacity: .6;
    transition: none;
}

.musicplayer .controls .range .r2{
    transition: none;
    width: calc(1.5 * var(--vh));
    height: calc(1.5 * var(--vh));
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(calc(-0.5 * var(--vh)),calc(-0.5 * var(--vh)));
    background-color: var(--textcolor);
    opacity: .8;
    border-radius: 50%;
    cursor: pointer;
}

.musicplayer .controls .time{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: var(--textcolor);
    opacity: .5;
}

.musicplayer .lrcs,
.musicplayer .infos
{
    width: 60%;
    height: calc(100% - (6 * var(--vh)));
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.zp .musicplayer .controls{
    width:100%;
}
.zp .musicplayer .lrcs{
    display:none;
    width:100%;
    font-size: .7em;
}

.musicplayer .lrcs::before,
.musicplayer .lrcs::after
{
    content:"";
    width:100%;
    height: 30%;
    background-image: linear-gradient(to bottom,var(--bgcolor),transparent);
    position:absolute;
    top:0;
    left:0;
    z-index:999;
}
.musicplayer .lrcs::after{
    background-image: linear-gradient(to top,var(--bgcolor),transparent);
    top:auto;
    bottom:0;
}
.zp .musicplayer.showlrc .lrcs{
    display: block;
}

.musicplayer .lrcs .lrclist{
    width: 100%;
    position: absolute;
    top: 0;
}
.musicplayer .lrcs .lrclist .item{
    opacity: .5;
    padding: 1.5em 0;
    width: 100%;
    text-align: center;
}
.musicplayer .lrcs .lrclist .item .yrc{
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    min-height: 1.5em;
    transition: font-size .3s,color .3s;
}
.musicplayer .lrcs .lrclist .item .trc{
    opacity: .75;
    min-height: .75em;
    font-size: 1em;
    display: none;
    transition: font-size .3s,color .3s;
}
.musicplayer .lrcs .lrclist.trans .item .trc{
    display: block;
}


.musicplayer .lrcs .lrclist .item.now{
    opacity: 1;
    padding: .5em 0;
}
.musicplayer .lrcs .lrclist .item.now .yrc{
    font-size: 2.4em;
    line-height: 2em;
}

.musicplayer .infos{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100% - (12 * var(--vh)));
    bottom: calc(6 * var(--vh));
    display: none;
}

.musicplayer.showinfo .infos{
    display: flex;
}
.musicplayer.showinfo .lrcs{
    display: none;
}

.zp .musicplayer.showinfo .controls,
.zp .musicplayer.showlrc .controls
{
    display:none;
}
.zp .musicplayer .infos{
    width:100%;
}

.musicplayer .t-lrc{
    display:none;
}

.zp .musicplayer .t-lrc{
    display:block;
}

.zp .musicplayer.showlrc{
    display:block;
    width:100%;
}

.musicplayer .infos .tbl{
    width: 80%;
    padding: .3em 0;
}

.musicplayer .infos .tbl .key{
    font-weight: bold;
    float: left;
}
.musicplayer .infos .tbl .value{
    float: left;
}
.musicplayer .infos .tag{
    display: inline-block;
    padding: 0 .5em;
    margin: 0 .2em;
    background-color: #eee;
    border-radius: calc(1 * var(--vh));
}
.musicplayer.dark .infos .tag{
    background-color: #666;
}

.playing-anim{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.musicplayer.playing .playing-anim{
    display: block;
}

.playing-anim>*{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2px;
    left: -2px;
    border: #888 solid 2px;
    border-radius: 50%;
    animation: playing 1.5s infinite linear;
  }
  .playing-anim>*:nth-child(2){
    animation-delay: -.6s;
  }
  .playing-anim>*:nth-child(3){
    animation-delay: -.1.2s;
  }
  @keyframes playing {
    0%{
      width: 100%;
      height: 100%;
      opacity: .5;
      margin: 0;
    }100%{
      width: 150%;
      height: 150%;
      opacity: 0;
      margin: -25%;
    }
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }100%{
      transform: rotate(360deg);
    }
  }

.floatb{
    width: calc(30 * var(--vh));
    height: calc(7 * var(--vh));
    border-radius: calc(7 * var(--vh));
    box-shadow: #aaa 0 0 calc(1 * var(--vh));
    position: absolute;
    bottom: calc(4 * var(--vh));
    left: calc(50% - calc(15 * var(--vh)));
    background-color: var(--bgcolor,#fff);
    color:var(--textcolor);
}

body.dark .floatb{
    background-color: var(--bgcolor,#000);
    box-shadow: #666 0 0 calc(1 * var(--vh));

}

.musicplayer.show~.floatb{
    bottom: calc(-10 * var(--vh));
}


.floatb .cover{
    width: calc(5 * var(--vh));
    height: calc(5 * var(--vh));
    margin: calc(1 * var(--vh));
    float: left;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: #aaa 0 0 calc(.5 * var(--vh));
    animation: rotate 24s linear infinite;
    animation-play-state: paused;
}
.floatb .cover.playing{
    animation-play-state: running;
    width: calc(6 * var(--vh));
    height: calc(6 * var(--vh));
    margin: calc(.5 * var(--vh));
}
.floatb .cover .noimg,
.floatb .cover img
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.floatb .cover .noimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.floatb .cover .noimg svg{
    height: calc(3 * var(--vh));
}
.floatb img{
    opacity: 0;
}
.floatb .d{
    width: calc(100% - (7 * var(--vh)));
    height: inherit;
    float: left;
}

.floatb .d .name{
    font-size: .8em;
    padding: calc(.3 * var(--vh)) 0;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.floatb .d .artist{
    font-size: .5em;
    opacity: .6;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.blurbg{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
}

.blurbg img{
    transform: scale(1.3);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    filter: blur(40px);
}